<html>
	<head>
		<title>OhHai History</title>
		<link rel="stylesheet" href="style.css"/>
		<style>
			#MainContent{max-width:900px;min-width:300px;margin:0 auto 0 auto;}	

			#HistList{margin:10px;}
			.listborder{border:1px solid #999;border-radius:2px;box-shadow: 5px 5px 5px #c4c4c4;}
			
			#HistList h3{text-align:center;font-size:50px;color:#999;}
			
			.histitem{padding:15px;border-radius:2px;}
			.histitem + .histitem{border-top:1px solid #999;}
			
			#HistList img{float:left;height:20px;}
			#HistList a{float:left;margin:0 0 0 30px;line-height:20px;}
			#HistList span{float:right;line-height:20px;}
			
			.clear{clear:both;}
		</style>
	</head>
	<body>
		
		<header>
			<h1>History</h1>
			<a href="#" id="RefreshHist" onclick="load_history()">Reload History</a>
			<a href="#" id="ClearHist" onclick="clear_history()">Clear History</a>
		</header>
	
		<div id='MainContent'>
			<div id="HistList">
			</div>
		</div>
		<script src="../../scripts/dexie.min.js"></script>
		<script>	
			load_history();
			
			function load_history(){
				var dom_hist_list = document.getElementById("HistList");
				var dom_refresh_btn = document.getElementById("RefreshHist");
				var dom_clear_btn = document.getElementById("ClearHist");	
				dom_hist_list.innerHTML = '';
				
				const db = new Dexie("ohhai_browser_db");
				//Version 1
				db.version(1).stores({
				quicklinks: '++id,&url, title, icon, text, desc, timestamp',
				history: '++id,url, title, icon, visitCount, lastVisit,parentSite, extraData,timestamp',
				settings: '&name,value',
				firstrun: 'run,timestamp',
				currentsession: '&sessionid,url,title,mode,parent,timestamp',
				browser_groups: '&groupid,name,timestamp'
				});
				//Version 2
				db.version(2).stores({
				currentsession: '&sessionid, url, icon, title, mode, parent, timestamp',
				firstrun: null
				});
				db.open().then(function () {
				console.log('database loaded')
					db.history.reverse().toArray((HistArray) => {
						if (!Array.isArray(HistArray) || !HistArray.length) {	
							dom_clear_btn.setAttribute("style","display:none;");
							dom_hist_list.setAttribute("class","");
							var NoItems = document.createElement('h3');
							NoItems.appendChild(document.createTextNode("No history :("));
							dom_hist_list.appendChild(NoItems);
						}else{
							dom_hist_list.setAttribute("class","listborder");
							dom_clear_btn.setAttribute("style","");
					
							var i,len;
							for (i = 0, len = HistArray.length; i < len; i++) {
								var thisitem = HistArray[i];
								var div = document.createElement('div');
								div.setAttribute("class","histitem");
								var history_template = `<img class='hist_img' src='${thisitem.icon}'/><a class='hist_link' href='${thisitem.url}'>${thisitem.title}</a><span class='hist_datetime'>${Convert_DateTimeStamp(thisitem.timestamp)}</span><div class='clear'></div>`;		
								div.innerHTML = history_template;
			
								dom_hist_list.appendChild(div);
							}	
						}
					});
				}).catch(function (err) {console.warn('database error occured', error)});
			}
			
			function Convert_DateTimeStamp(timestamp){	
				var days = ["Sunday","Monday","Tuesday","Wedneday","Thursday","Friday","Saturday"]
				var months = ['January','February','March','April','May','June','July','August','September','October','November','December'];
				var d = new Date(timestamp);
						
				return days[d.getDay()] + ", " + months[d.getMonth()] + " " + d.getDate() + " - " + d.getHours() + ":" + d.getMinutes()
			}

			function clear_history(){
				History.Clear(function(){
					load_history();
				});
			}

		</script>
	</body>
</html>
