@media (max-width: 1300px) {
	.NavInner{width:70%;}
}

@media (max-width: 1070px) {
    .Center{width:535px;}
    .CustomURLBar{width:461px;}
    #URLBar{width:340px;}
}

@media (max-width: 972px) {
  .Center{width:475px;}
  .CustomURLBar{width:401px;}
  #URLBar{width:280px;}
}


@media (max-width: 875px) {
	.NavInner{padding-top:20px;width:85%;}

	 #LeftMenu{position:fixed;z-index:100;height: -webkit-calc(100% - 58px);}
    #BrowserWin{height: -webkit-calc(100% - 58px);overflow: auto;position:relative;}
    #OverFlowMenu{
    	position:fixed;
    	right:0;
    	z-index:100;
    	height: -webkit-calc(100% - 58px);
        }
        
        .popouttabs{top:0px;left:0px;}

        #HideShow .PinTabBar{display:none;}
}

@media (max-width: 720px) {
	.NavInner{width:98%;}
}



@media (max-width: 560px) {
    .Center {
        width: 409px;
    }
    .CustomURLBar {
        width: 335px;
    }
    #URLBar {
        width: 214px;
    }
}
