/* Imports */
@import url("components/tab_views/style.css");
@import url("components/nav_bar/style.css");
@import	url("modules/Contextuals/Contextuals.css");
@import url("ohhai_ui.css");
@import url("../../window/controls.css");

html,
body {
	margin: 0;
	padding: 0;
	background-color: #e9e9e9;
}

* {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

#AppBound {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-flow: column;
}

/*Main Outer*/
#Content {
	overflow: hidden;
	flex: 1 1 auto;
	display: flex;
	flex-flow: row;
}

/*Tab Menu*/
#LeftMenu {
	background-color: #e9e9e9;
	box-sizing: border-box;
	overflow-x: hidden;
	transition: width 0.25s;
	display: flex;
}

.LeftMenuHidden {
	width: 0px;
	border-right: 0px;
}

.LeftMenuShow {
	width: 200px;
	border-right: 1px solid #999;
}

#LeftMenu .popouttabs {
	border: none;
	position: initial;
	padding: 0;
	border-right: 1px solid #999;
}

#LeftMenu .TabContainer {
	max-height: none;
	padding: 0;
}

#LeftMenu .tabcommands {
	padding: 5px;
}

#leftAccordion {
	display: flex;
	flex-flow: column;
	overflow: hidden;
}

.acc_panel {
	transition: flex 0.3s;
	display: flex;
	flex-flow: column;
	min-height: 40px;
}

.acc_header::before {
	content: '>';
	display: inline-block;
	margin-right: 3px;
	margin-left: 5px;
	transition: all 0.3s;
	font-weight: bold;
}

.acc_header {
	box-sizing: border-box;
	line-height: 40px;
    font-size: 14px;
    background: #c4c4c4;
    padding: 0 5px;
    cursor: pointer;
    height: 40px;
	transition: background 0.2s;
	color: #4d4d4d;
}
	.acc_header .acc_title{
		text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
	}
	.acc_header .acc_controls{
		float: right;
		display: block;
		opacity: 0;
		transition: opacity 0.3s;
	}
		.acc_header .acc_controls input[type=button]{
			height: 20px;
			width: 20px;
			background-color: transparent;
			border: none;
			outline: none;
			margin: 10px 2px;
			float: right;
		}

.acc_content {
	height: 0px;
    overflow: hidden;
    transition: all 0.2s;

	box-sizing: border-box;
    opacity: 0;
	flex: 1;
}

.acc_active {
	flex: 1 1 auto;
}

.acc_active .acc_header::before {
	transform: rotate(90deg);
}

.acc_active .acc_content {
    opacity: 1;
	overflow: hidden; 
	overflow-y: auto;
}

.acc_active .acc_content::-webkit-scrollbar {
	width: 10px;
}

.acc_active .acc_content::-webkit-scrollbar-thumb {
	opacity: 0.5;
	background: rgba(110, 110, 110, 0.5);   
}
	.acc_active .acc_content::-webkit-scrollbar-thumb:hover {
		background: rgba(85, 85, 85, 0.5);
	}

	.acc_active:hover .acc_header .acc_controls{
		opacity: 1;
	}



#BookmarkContainer ul {
	margin: 5px;
	padding: 0px;
	list-style: none;
}

#BookmarkContainer ul li p {
	margin: 10px 0px;
	font-size: 13px;
}

#BookmarkContainer .bookmark {
	margin: 5px 0px;
}

	#BookmarkContainer .bookmark a {
		display: block;
		font-size: 13px;
		padding: 5px 0px;
		text-decoration: none;
		border-radius: 3px;
		color: #000;
	}
	#BookmarkContainer .bookmark a:hover {
		background: rgba(255, 255, 255, 0.7);
	}

		#BookmarkContainer .bookmark a img {
			height: 16px;
			width: 16px;
			float: left;
			margin: 0px 5px;
		}
		#BookmarkContainer .bookmark a span {

		}



/*Other Menu*/
#OverFlowMenu {
	position: fixed;
	height: 100%;
	z-index: 100;
	border: 1px solid rgb(195, 195, 195);
	background-color: rgba(233, 233, 233, 1);
	box-shadow: 2px 0px 5px #c4c4c4;
	transition: right 0.25s;
}

.OverflowHidden {
	right: -365px;
}

.OverflowShow {
	right: 0;
}

/* Overflow menu types */

#OverFlowDeepMenu {
	float: left;
	width: 350px;
	height: 100%;
}

#MegaMenuContent {
	height: -webkit-calc(100% - 87px);
	overflow: auto;
}

#MiniMenuContent {
	height: -webkit-calc(100% - 48px);
	overflow: auto;
}

#OverFlowMiniMenu {
	float: left;
	width: 50px;
	height: 100%;
}

.MiniMenuList {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.MiniMenuList li {}

.MiniMenuList li a {
	border-radius: 2px;
	margin: 3px;
	text-decoration: none;
	color: #000;
	width: 40px;
	height: 40px;
	display: inline-block;
	font-size: 28px;
	vertical-align: middle;
	text-align: center;
}

#OverFlowOptions {
	float: left;
	width: 350px;
	height: 100%;
}

.OverFlowContent ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 5PX;
}

.OverFlowContent ul li {
	margin: 0;
	padding: 0;
}

.OverFlowContent ul li hr {
	margin: 5PX;
}

.OverFlowContent ul li a {
	margin-left: auto;
	color: #000;
	text-decoration: none;
	margin-right: auto;
	display: block;
	padding: 10px 15px;
	color: #000;
}

.OverFlowContent ul li a:hover {
	background-color: var(--main);
	color: var(--controls);
	color: #fff;
}


.OverFlowTopMenu {
	list-style: none;
	margin: 0;
	height: 47px;
	padding: 0;
	border-bottom: 1px solid #999;
}

.MenuTitle {
	font-size: 22px;
	height: 40px;
	vertical-align: middle;
}

.CloseOverflow {
	margin: 3px;
	text-decoration: none;
	color: #999;
	width: 40px;
	height: 40px;
	display: inline-block;
	font-size: 28px;
	vertical-align: middle;
	text-align: center;
}

#Pactions_StaticOptions button {
	background-color: #fff;
	border: 2px solid var(--main);
	border-radius: 2px;
	width: 149px;
	padding: 5px 5px 5px 35px;
	text-align: left;
	cursor: pointer;
	margin-bottom: 5px;
}

#Pactions_StaticOptions button:hover {
	background-color: var(--main);
	color: #fff;
}

.URLDropDown {
	background-color: #fff;
	border-bottom: 2px solid var(--main);
	border-left: 2px solid var(--main);
	border-right: 2px solid var(--main);
	border-radius: 2px;
	width: 471px;
	min-height: 70px;
	max-height: 200px;
	position: relative;
	z-index: 100;
	margin: 0 0 0 -6px;
	top: 23px;
}



button:focus {
	outline: none;
}

.QuicklinkInactive::before {
	content: "\2606";
	font-size: 20px;
}

.QuicklinkActive::before {
	content: "\2605";
	font-size: 20px;
}

#BtnReaderMode {
	background: url("icons/Reader.png") no-repeat left;
}

.TabClose::before {
	content: "\2716";
	line-height: 16px;
	width: 16px;
	text-align: center;
	display: block;
	font-size: 10px
}

.TabClose:hover::before {
	color: #fff;
}



.IconList {
	margin: 0;
	padding: 0;
	list-style: none;
}

.IconList li {
	display: block;
	padding: 10px;
}

.IconList li img {}

.IconList li a {
	width: 298px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
	line-height: 22px;
	margin-left: 10px;
}

.IconList li a:hover {}

.speech-bubble {
	background-color: #e9e9e9;
	border: 1px solid #999;
	border-radius: 2px;
	width: 300px;
	min-height: 70px;
	max-height: 200px;
	position: relative;



	z-index: 100;
	margin: 0 0 0 -139px;
	top: 39px;
	box-shadow: 0px 5px 15px #999999;
}

.speech-bubble:before {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid #999;
	top: -20px;
	left: 50%;
	margin-left: -10px;
}

.speech-bubble-inner {
	padding: 7px;
}

.SettingsList {
	padding: 10px;
}

#DoodlePopUp {
	width: 400px;
	position: fixed;
	left: 50%;
	top: 45px;
	z-index: 100;
	background-color: #fff;
	border: 2px solid var(--main);
	border-radius: 2px;
	margin: 0 0 0 -200px;
}

#DoodlePopUp img {
	height: 50px;
	float: left;
	margin-right: 5px;
}

#DoodlePopUp span {
	height: 50px;
	display: block;
	text-align: left;
}

#DoodlePopUp a {
	background: var(--UI-DARK);
	color: #000;
	text-decoration: none;
	font-size: 1em;
	padding: 2px;
	display: inline-block;
	width: 100px;
}


#QlinkOptions p {
	margin: 0;
}

#QlinkOptions input[type="text"] {
	display: block;
	width: 100%;
	margin: 5px 0;
	border-radius: 2px;
	border: 0;
	padding: 3px;
	border: 1px solid #999;
}

#QlinkOptions textarea {
	display: block;
	width: 100%;
	margin: 5px 0;
	border-radius: 2px;
	border: 0;
	padding: 3px;
	border: 1px solid #999;
}

#QlinkOptions input[type="button"] {
	border: none;
	background: var(--UI-DARK);
	color: #000;
	text-decoration: none;
	font-size: 1em;
	padding: 2px;
	display: inline-block;
	width: 100px;
}

#QlinkOptions input[type="button"]:hover {
	background: var(--BTN-HOVER);
}




.SettingsList {}

.SettingsList p {
	font-size: 20px;
	border-bottom: 1px solid;
}

.SettingsList .txtbox {
	width: 100%;
	padding: 5px;
}

.SettingsList .ddl {
	width: 100%;
	padding: 5px;
}

.SettingsList .smalllink {
	font-size: 15px;
	margin-left: 3px;
}



.ModList {
	padding: 10px;
}

.ModList button {
	width: 100%;
	padding: 5px;
	font-size: 15px;
}


#UserAccountMenu {
	padding: 10px 15px 0px 15px;
}

#UserAccountMenu img {
	height: 75px;
	width: 75px;
	float: left;
	border-radius: 50px;
}

#UserAccountMenu a {
	line-height: 75px;
	display: inline-block;
	margin-left: 10px;
	font-size: 18px;
	text-decoration: none;
	font-size: 18px;
	color: #000;
}

#UserAccountMenu a:hover {
	text-decoration: underline;
}




.WMC_popup {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	cursor: pointer;
	position: fixed;
	height: 75px;
	border-radius: 4px;
	border: 1px solid rgba(39, 42, 46, 0.4);
	background-color: #fff;
	right: -560px;
	top: 60px;
	box-shadow: 1px 5px 10px rgba(39, 42, 46, 0.6);
	-webkit-transition: all 0.5s, -webkit-transform 0.5s;
	/* Safari */
	transition: all 0.5s, transform 0.5s;
}

.WMC_Show {
	right: 20px;
}

.WCM_msg {
	font-size: 15px;
	line-height: 75px;
	width: 300px;
	display: inline-block;
	padding: 0 10px;
	box-sizing: border-box;
	color: #000;
}

.WCM_close {
	font-size: 15px;
	cursor: pointer;
	float: right;
	background-color: transparent;
	height: 65px;
	width: 50px;
	border: none;
	outline: none;
	color: #999;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	border-left: 1px solid #c4c4c4;
	margin: 5px 0;
}


.bookmark_popup {
	display: block;
	width: 300px;
	position: absolute;
	background: #fff;
	border-radius: 4px;
	border: 1px solid #c4c4c4;
	padding: 5px;
	box-sizing: border-box;
}

.bookmark_title {
	margin: 0;
	border-bottom: 1px solid #172467;
	margin-bottom: 5px;
	font-size: 16px;
	color: #172467;
}

.bookmark_nametxt {
	display: block;
	width: 100%;
	padding: 4px;
	outline: none;
}

.bookmark_add {
	margin: 5px 5px 0 0;
	display: inline-block;
	width: 100px;
	padding: 4px;
	border: 1px solid #c4c4c4;
	background-color: #00ffff;
}

.bookmark_cancel {
	margin: 5px 5px 0 0;
	display: inline-block;
	width: 100px;
	padding: 4px;
	border: 1px solid #c4c4c4;
	background-color: #fff;
}



.URL_AutoComplete {
	position: absolute;
	width: 600px;
	height: auto;
	background-color: #fff;
	padding: 5px;
	z-index: 500;
	margin-left: -3px;
	margin-top: -3px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	box-sizing: border-box;
	box-shadow: 0px 10px 15px #999;
	-webkit-transition: all 0.25s, -webkit-transform 0.25s;
	/* Safari */
	transition: all 0.25s, transform 0.25s;
}

.AutoComplete_hidden {
	height: 0px;
	display: none;
}

.Datetitle {
	margin: 0;
	padding: 10px;
	background-color: #d2d4f2;
	font-size: 13px;
}

.histitem {
	margin: 10px 5px;
}

.hist_img {
	height: 18px;
	width: 18px;
	margin-right: 10px;
	float: left;
}

.hist_link {
	display: inline-block;
	width: 100px;
	height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 20px;
	font-size: 13px;
}

.hist_datetime {
	float: right;
	font-size: 13px;
}

.blurBrowser{
	filter: blur(5px);
}
#BlurBg{
	z-index: 500;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#modelPopup{
	z-index: 501;
	position: fixed;
	width: 600px;
	height: 400px;
	background: #fff;
	border-radius: 5px;
	left: calc(50% - 300px);
    top: calc(50% - 200px);
    box-shadow: 0px 0px 15px #000;
}
	.modeltitleBar{
		height: 30px;
		box-sizing: border-box;
		padding: 5px;
		background: var(--main);
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
	}
		.modeltitle{
			color: #fff;
		}
		.modelClose{
			float: right;
			height: 20px;
			width: 20px;
			border: none;
			border-radius: 20px;
			text-align: center;
			background: transparent;
			color: #fff;
		}
		.modelClose:hover{
			background-color:#f53355;
		}

	#modelContent{
		overflow: auto;
		height: calc(100% - 30px);
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}