.Navbar {
    background-color: var(--main);
    transition: padding 0.4s;
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

.ControlsArea {
    display: flex;
    padding: 5px 0 2px 0;
    width: 70%;
    min-width: 450px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.5s;
}

.ControlButton {
    display: inline-block;
    -webkit-app-region: no-drag;
    width: 28px;
    height: 28px;
    margin-left: 2px;
    margin-right: 2px;
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: transparent;
    font-size: 1.5em;
    line-height: 1em;
    padding: 0;
    color: var(--controls);
    text-align: center;
}
    .ControlButton > svg {
        pointer-events: none;
    }

    .ControlButton:hover {
        background-color: rgba(255, 255, 255, 0.2);
        cursor: pointer;
    }

.Center {
    display: flex;
    max-width: 900px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    flex: auto;
    transition: all 0.5s;
}

.CenterCenter {
    flex: auto;
}

.CenterFocus {
    background-color: #fff;
}

.URLButton {
    padding: 5px;
    -webkit-app-region: no-drag;
    width: 22px;
    border: none;
    font-size: 18px;
    background-color: transparent;
    outline: none;
    line-height: 14px;
    cursor: pointer;
}

.DoubleURLBtn {
    height: 12.5px;
    float: left;
    text-align: center;
    margin: 3px 5px 2px 0px;
    padding: 5px;
    -webkit-app-region: no-drag;
    width: 39px;
    border: none;
    font-size: 0.65em;
    outline: none;
    transition: all 0.5s;
    border-radius: 3px;
}

@media (max-width:920px) {

    Header {
        padding-top: 23px;
    }

    .ControlsArea {
        width: 98%;
    }

    .Center {
        width: 700px;
    }

    .popouttabs {
        left: -5px !important;
    }

}

.TabMenu {
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    padding-top: 2px;
}

#HideShowCount {
    font-size: 10px;
    position: relative;
    top: -32px;
}

.AddTab::before {
    content: "+";
    color: #aba0a0;
}

.AddTab {
    width: 50px;
    display: block;
    margin: 10px auto;
    border-radius: 4px;
    border: none;
    background-color: rgba(162, 167, 194, 0.2);
    transition: background-color 0.5s;
    cursor: pointer;
}

.AddTab:hover::before {
    content: "+";
    color: #fff;
}
.AddTab:hover {
    background-color: rgba(162, 167, 194, 0.8);
}

.AddTab:active {
    box-shadow: inset 0px 5px 10px #c4c4c4;
    background-color: rgb(247, 241, 241);
}
