/* Imports */
@import url("../../components/websession/websession.component.css");
@import url("./navbar.css");
@import	url("../../system_assets/modules/Contextuals/Contextuals.css");

@font-face {
	font-family: Segoe MDL2 Assets;
	src: url("../fonts/SegMDL2.ttf");
}

* {
	margin: 0;
	padding: 0;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

#AppBound {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-flow: column;
	background-color: #e9e9e9;
}

/*Main Outer*/
#Content {
	overflow: hidden;
	flex: 1 1 auto;
	display: flex;
	flex-flow: row;
}

/*Tab Menu*/
.LeftMenuHidden {
	width: 0px;
	border-right: 0px;
}

.LeftMenuShow {
	width: 200px;
	border-right: 1px solid #190a25;
}

.SidControls{
	padding: 5px;
}

#Sid .TabContainer {
	max-height: none;
	padding: 5px;
}

#Sid .tabcommands {
	padding: 5px;
}

#Sid {
    background: var(--sidebar_bg);
    display: flex;
	flex-flow: column;
	box-sizing: border-box;
	overflow-x: hidden;
	transition: width 0.25s;
	flex-direction: column;
}

#Sid .panel {
    transition: flex 0.3s;
    display: flex;
    flex-direction: column;
}

#Sid .active {
    flex: 1 1 auto;
}

.URLDropDown {
	background-color: #fff;
	border-bottom: 2px solid var(--main);
	border-left: 2px solid var(--main);
	border-right: 2px solid var(--main);
	border-radius: 2px;
	width: 471px;
	min-height: 70px;
	max-height: 200px;
	position: relative;
	z-index: 100;
	margin: 0 0 0 -6px;
	top: 23px;
}



button:focus {
	outline: none;
}

.QuicklinkInactive::before {
	content: "\2606";
	font-size: 20px;
}

.QuicklinkActive::before {
	content: "\2605";
	font-size: 20px;
}

.TabClose::before {
	content: "\2716";
	line-height: 16px;
	width: 16px;
	text-align: center;
	display: block;
	font-size: 10px
}

.TabClose:hover::before {
	color: #fff;
}



.IconList {
	margin: 0;
	padding: 0;
	list-style: none;
}

.IconList li {
	display: block;
	padding: 10px;
}

.IconList li img {}

.IconList li a {
	width: 298px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
	line-height: 22px;
	margin-left: 10px;
}

.IconList li a:hover {}

.speech-bubble {
	background-color: #e9e9e9;
	border: 1px solid #999;
	border-radius: 2px;
	width: 300px;
	min-height: 70px;
	max-height: 200px;
	position: relative;
	z-index: 100;
	margin: 0 0 0 -139px;
	top: 39px;
	box-shadow: 0px 5px 15px #999999;
}

.speech-bubble:before {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid #999;
	top: -20px;
	left: 50%;
	margin-left: -10px;
}

.speech-bubble-inner {
	padding: 7px;
}

#DoodlePopUp {
	width: 400px;
	position: fixed;
	left: 50%;
	top: 45px;
	z-index: 100;
	background-color: #fff;
	border: 2px solid var(--main);
	border-radius: 2px;
	margin: 0 0 0 -200px;
}

#DoodlePopUp img {
	height: 50px;
	float: left;
	margin-right: 5px;
}

#DoodlePopUp span {
	height: 50px;
	display: block;
	text-align: left;
}

#DoodlePopUp a {
	background: var(--UI-DARK);
	color: #000;
	text-decoration: none;
	font-size: 1em;
	padding: 2px;
	display: inline-block;
	width: 100px;
}


#QlinkOptions p {
	margin: 0;
}

#QlinkOptions input[type="text"] {
	display: block;
	width: 100%;
	margin: 5px 0;
	border-radius: 2px;
	border: 0;
	padding: 3px;
	border: 1px solid #999;
}

#QlinkOptions textarea {
	display: block;
	width: 100%;
	margin: 5px 0;
	border-radius: 2px;
	border: 0;
	padding: 3px;
	border: 1px solid #999;
}

#QlinkOptions input[type="button"] {
	border: none;
	background: var(--UI-DARK);
	color: #000;
	text-decoration: none;
	font-size: 1em;
	padding: 2px;
	display: inline-block;
	width: 100px;
}

#QlinkOptions input[type="button"]:hover {
	background: var(--BTN-HOVER);
}

.SettingsList {
	padding: 10px;
}

.SettingsList p {
	font-size: 20px;
	border-bottom: 1px solid;
}
.SettingsList span {
	margin: 5px 0;
	display: inline-block;
}

.SettingsList .txtbox {
	width: 100%;
	padding: 5px;
}

.SettingsList .ddl {
	width: 100%;
	padding: 5px;
}

.SettingsList .smalllink {
	font-size: 15px;
	margin-left: 3px;
}

.WMC_popup {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	cursor: pointer;
	position: fixed;
	height: 75px;
	border-radius: 4px;
	border: 1px solid rgba(39, 42, 46, 0.4);
	background-color: #fff;
	right: -560px;
	top: 60px;
	box-shadow: 1px 5px 10px rgba(39, 42, 46, 0.6);
	-webkit-transition: all 0.5s, -webkit-transform 0.5s;
	/* Safari */
	transition: all 0.5s, transform 0.5s;
}



.bookmark_popup {
	display: block;
	width: 300px;
	position: absolute;
	background: #fff;
	border-radius: 4px;
	border: 1px solid #c4c4c4;
	padding: 5px;
	box-sizing: border-box;
}

.bookmark_title {
	margin: 0;
	border-bottom: 1px solid #172467;
	margin-bottom: 5px;
	font-size: 16px;
	color: #172467;
}

.bookmark_nametxt {
	display: block;
	width: 100%;
	padding: 4px;
	outline: none;
}

.bookmark_add {
	margin: 5px 5px 0 0;
	display: inline-block;
	width: 100px;
	padding: 4px;
	border: 1px solid #c4c4c4;
	background-color: #00ffff;
}

.bookmark_cancel {
	margin: 5px 5px 0 0;
	display: inline-block;
	width: 100px;
	padding: 4px;
	border: 1px solid #c4c4c4;
	background-color: #fff;
}

.URL_AutoComplete {
	position: absolute;
	width: 600px;
	height: auto;
	background-color: #fff;
	padding: 5px;
	z-index: 500;
	margin-left: -3px;
	margin-top: -3px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	box-sizing: border-box;
	box-shadow: 0px 10px 15px #999;
	-webkit-transition: all 0.25s, -webkit-transform 0.25s;
	/* Safari */
	transition: all 0.25s, transform 0.25s;
}

.AutoComplete_hidden {
	height: 0px;
	display: none;
}

	#hov_url{
		display: none;
		position: fixed;
		bottom: 0;
		right: 0;
		padding: 2px 4px;
		background-color: rgba(24, 23, 23, 0.8);
		color: #dcdcdc;
		font-size: 12px;
		border-radius: 4px 0 0 0;
	}
		#hov_url.show {
			display: block;
		}