* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, Cantarell, "Oxygen Sans", "Helvetica Neue", sans-serif;
  }
  .btn {
    display: inline-block;
    cursor: pointer;
    color: #5c5c5c;
    border-radius: 2px;
    background: #fafafa;
    border: 1px solid #d9d9d9;
    font-size: 12px;
    font-weight: 600;
    height: 25px;
    line-height: 25px;
    padding: 0 8px;
  }
  .btn * {
    cursor: pointer;
    line-height: 25px;
    vertical-align: baseline;
    display: inline-block;
  }
  .btn:focus {
    outline-color: #007aff;
  }
  .btn:hover {
    text-decoration: none;
    background: #f0f0f0;
  }
  .btn.disabled,
  .btn:disabled {
    cursor: default;
    color: #999999;
    border: 1px solid #ddd;
    box-shadow: none;
  }
  .btn.disabled .spinner,
  .btn:disabled .spinner {
    color: #aaa;
  }
  .btn.primary {
    -webkit-font-smoothing: antialiased;
    font-weight: 800;
    background: #007aff;
    color: #fff;
    border: none;
    transition: background .1s ease;
  }
  .btn.primary:hover {
    background: #0074f2;
  }
  a.btn span {
    vertical-align: baseline;
  }
  a.link {
    color: blue;
    text-decoration: underline;
  }
  div.error-page-content {
    max-width: 550px;
    margin: auto;
    margin-top: 30vh;
  }
  div.error-page-content .description {
    font-size: 14px;
    color: #707070;
    p {
      margin: 20px 0;
    }
  }
  div.error-page-content i {
    margin-right: 5px;
  }
  div.error-page-content .btn {
    float: right;
  }
  h1 {
    margin: 0;
    color: #333;
    font-weight: 400;
    font-size: 22px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d9d9d9;
  }
  .icon {
    float: right;
  }
  .icon.warning {
    color: #e60b00;
  }
  li {
    margin-bottom: 0.5em;
  }
  li:last-child {
    margin: 0;
  }