<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="errorPage.css"/>
    <script src="errorPage.js"></script>
</head>
<body>
    <div class="error-page-content">
        <h1 id="title">This site can’t be reached</h1>
        <div class="description">
            <p id="info"></p>
            <p id="moreHelp"></p>
            <p id="errorDesc"></p>
        </div>
        <a id="button" class="btn" href="javascript:window.location.reload()">Try again</a>
    </div>
</body>
</html>