
.Navbar{background-color:var(--main);transition:padding 0.4s;-webkit-app-region:drag;-webkit-user-select: none;}
    .ControlsArea{display:-webkit-box;padding:5px;width:70%;min-width:450px;margin-left:auto;margin-right:auto;transition:all 0.5s;}
        .FlexControl{box-flex:0;-webkit-box-flex:0;}
        .ControlButton{display:inline-block;-webkit-app-region: no-drag;width:28px;height:28px;margin-left:2px;margin-right:2px;border:none;border-radius:4px;outline:none;background-color:transparent;font-size:24px;line-height:24px;padding:0;color:var(--controls);text-align:center;}
            .ControlButton:hover{background-color:rgba(255, 255, 255, 0.2);cursor:pointer;}
        .Center{display:-webkit-box;width:900px;min-width:300px;margin-left:auto;margin-right:auto;box-flex:2;-webkit-box-flex:2;transition:all 0.5s;}
            .CenterCenter{box-flex:2;-webkit-box-flex:2;border-radius:4px;background-color:rgba(255, 255, 255, 0.6);padding: 0 3px;margin:0 5px;transition:all 0.25s;}
            .CenterFocus{background-color:#fff;}

                .URLBar{-webkit-app-region: no-drag;width:calc(100% - 108px);background-color:transparent;height:28px;outline:none;border:none;padding:2px 2px;font-size:16px;text-align:center;transition:all 0.5s;color:rgba(0, 0, 0, 0.65);}
				    .URLBar:hover{color:#000;}
                    .URLBar:focus{color:#000;}

                .URLButton{padding:5px;-webkit-app-region: no-drag;width:22px;border:none;font-size:18px;background-color:transparent;outline:none;line-height:14px;cursor: pointer;}
                .DoubleURLBtn{height:12.5px;float:left;text-align:center;margin:3px 5px 2px 0px;padding:5px;-webkit-app-region: no-drag;width:39px;border:none;font-size:0.65em;outline:none;transition:all 0.5s;border-radius: 3px;}
                                    
                                    .Http::before{content:"Http";}
                                    .Http{background-color: #cfcfc4;}
                                    
                                    .Https::before{content:"Https";}
                                    .Https{background-color:#77dd77;}

                                    .Internal::before{content:"OhHai";}
                                    .Internal{background-color:#172467;color:#fff;}

                                    .CirtError::before{content:"Error";}
                                    .CirtError{background-color:rgb(255, 0, 0);color: #fff;}
                                    .Loading{background: transparent url("../../../assets/imgs/loader.gif") no-repeat center;}

@media (max-width:920px){

                Header{padding-top:23px;}

                .ControlsArea{width:98%;}

				.Center{width:700px;}
				
				.popouttabs{left:-5px !important;}

}

.TabMenu::before{content:"\25A2";}
.TabMenu{text-align:center;text-decoration:none;vertical-align:middle;padding-top: 2px;}
#HideShowCount{font-size:11px;position: relative;top: -24px;}

.AddTab::before{content:"+";color:#fff;}
.AddTab{    width: 50px;
    display: block;
    margin: 10px auto;
    border-radius: 4px;
    border: none;
    background-color:rgba(23, 36, 103, 0.6);
    transition:background-color 0.5s;
    cursor: pointer;
}
.AddTab:hover{background-color:rgba(23, 36, 103, 0.8);}
.AddTab:active{box-shadow:inset 0px 5px 10px #c4c4c4;background-color:rgb(247,241,241);}

.Back::before{content:"\276E";}

.Refresh::before{content:"\21BB";}

.Forward::before{content:"\276F";}

.OverflowMenu::before{content:"\2630";}


.WebThings{display:inline-block;}

#BTN_WCF{border-radius: 22px; height: 18px; width: 18px; padding: 3.5px;background-color:#00ffff;}
.Pan_Webthings{position: absolute; width: 150px; min-height: 100px; border-radius: 4px; background-color: #fff; z-index: 500; border: 1px solid #c4c4c4; box-shadow:0px 5px 10px #c4c4c4;}
.Pan_Webthings.hidden{display:none;}