.acc-header::before{
    content: '>'; 
    color: var(--sidebar_header_title);
    display: inline-block;
    margin-right: 3px;  
    transition: all 0.3s;
}
.acc-header{
    line-height: 20px;
    font-size: 14px;
    background: var(--sidebar_header_bg);
    padding: 5px;
    cursor: pointer;
    transition: background 0.2s;
}   
    .acc-header .panTitle{
        text-transform: uppercase;
        font-weight: bold;
        font-size: 11px;
        user-select: none;
        color: var(--sidebar_header_title);
    }

 .acc-header.active::before{
    content: '>';
    transform: rotate(90deg);
}    

.acc-body{
    height: 0px;
    overflow: hidden;
    transition: all 0.2s;
    opacity: 0;
    flex: 1 1 auto;
}
 .acc-body.active {
    opacity: 1;
    overflow-y: auto;         
}
 .acc-body.active::-webkit-scrollbar {
    width: 10px;
}

 .acc-body.active::-webkit-scrollbar-thumb {
    opacity: 0.5;
    background: rgb(85, 85, 85);   
}
     .acc-body.active::-webkit-scrollbar-thumb:hover {
        background: rgb(110, 110, 110);
    }