@font-face {
	font-family: Segoe MDL2 Assets;
	src: url("../../assets/fonts/SegMDL2.ttf");
}

*{ margin: 0; padding: 0; box-sizing: border-box; outline: none; font-family: Arial, Helvetica, sans-serif;}
button, input[type=text] { border: none; }

/* Basic layout */
.componentOuter{
    width: 100%;
    height: 100%;
}
.urlOuter{
    padding: 2px;
    display: flex;
    flex-direction: row;
}
    .DoubleURLBtn{
        display: inline-block;
        width: 52px;
    }
    .URLBar{
        flex: auto;
    }
    .URLButton{
        width: 26px;
    }
    .URL_AutoComplete{
        width: 100%;
    }
    .AutoComplete_hidden{
        display: none;
    }
/* End basic layout */

/* Colours and grandular styles */
.urlOuter{
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.25s;
}
.urlFocus {
    background-color: #fff !important;
}
    #SecureCheck{
        font-size: 12px;
    }
    #URLBar{
        -webkit-app-region: no-drag;
        background: transparent;
        outline: none;
        border: none;
        padding: 2px 2px;
        font-size: 16px;
        text-align: center;
        color: rgba(0, 0, 0, 0.65);
    }
        #URLBar:focus, #URLBar:hover {
            color: #000;
        }
    .DoubleURLBtn, .URLButton{
        -webkit-app-region: no-drag;
        background: transparent;
        transition: background 0.5s;
        text-align: center;
        line-height: 24px;
        border-radius: 2px;
    }
        .URLButton{
            font-family: "Segoe MDL2 Assets";
        }
        .URLButton:hover{
            background: rgba(255, 255, 255, 0.2);
        }
        .URLButton:active{
            background: rgba(255, 255, 255, 0.5);
        }
        #BtnQuicklink::before{
            display: block;
            margin-top: -1px;
            content: '\E734';
        }
        #BtnQuicklink.active::before{
            content: '\E735';
            color: yellow;
        }
        #BtnQuicklink{
            font-size: 14px;
            padding-top: -1px;
        }

        #Refresh::before{
            content: '\E72C';
        }
        #Refresh{
            padding-top: 1px;
        }
    #URLAutoComplete{

    }
/* End colours and grandular styles */


.Http::before {
    content: "Http";
}

.Http {
    background-color: #cfcfc4;
}

.Https::before {
    content: "Https";
}

.Https {
    background-color: #77dd77;
}

.Internal::before {
    content: "OhHai";
}

.Internal {
    background-color: #172467;
    color: #fff;
}

.CirtError::before {
    content: "Error";
}

.CirtError {
    background-color: rgb(255, 0, 0);
    color: #fff;
}

.Loading {
    background: transparent url("../../assets/imgs/loader.gif") no-repeat center;
}