:root{
	/*This is the navbar colour and also the theme colour*/
	--main:#172467;
	
	/*This is the colour of the navbar controls and text*/
	--controls:#fff;
	
	/*Colour of the URL bar when a page is loading*/
	--loading:#1A2874;

	--tab_default_bg: #a2a7c2;
    --tab_default_title: #000;
    --tab_default_hover_bg: #dcdcdc;
    --tab_default_selected_bg: #e9e9e9;
    --tab_default_selected_title: #000;

    --tab_incog_bg: #708090;
    --tab_incog_hover: #fff;
    --tab_incog_selected: #2F4F4F;

    --tab_pinned_bg: #e9e9e9;
    --tab_pinned_hover_bg: #dcdcdc;
    --tab_pinned_selected_bg: #a2a7c2;


	--sidebar_bg: #172467;
    --sidebar_header_bg: #15427D;
    --sidebar_header_title: #fff;    
}

	
