:root{
	/* UI related styles */
	--UI-LIGHT:#00ffff;
	--UI-DARK:#00eaff;
	--UI-BORDER:#999999;
	
	/* Tab related styles */
	--TAB-DEFAULT:#00eaff;
	--TAB-SELECTED:#00bfff;
	
	/* Button related styles */
	--BTN-DEFAULT:#00eaff;
	--BTN-HOVER:#00bfff;
	
	/* Notification bar */
	--NOTIFICATION:#00ffea;
}

	
