.contextualJs {}

.contextualMenu {
    font-size: 13px;
    position: absolute;
    padding: 8px 0;
    background: #ffffff;
    box-shadow: 1px 1px 10px #999;
    border-radius: 3px;
    margin: 0;
    list-style: none;
    z-index: 700;
}

.contextualMenuHidden {
    display: none;
}

.contextualMenuItem {
    display: block;
    padding: 5px 8px;
    cursor: default;
}

.contextualMenuItem:hover {
    background: #a2a7c2;
}

.contextualMenuItemIcon {
    float: left;
    width: 16px;
    height: 16px;
}

.contextualMenuItemTitle {
    text-align: left;
    line-height: 16px;
    display: inline-block;
    padding: 0px 0px 0px 7px;
}

.contextualMenuItemTip {
    float: right;
    padding: 0px 7px 0px 50px;
    text-align: right;
    line-height: 16px;
    display: inline-block;
}

.contextualMenuItemOverflow {
    float: right;
    display: inline-block;
    width: 16px;
    height: 16px;
    padding: 1px 0px 0px 0px;
}

.contextualMenuItemOverflow .contextualMenuItemOverflowLine {
    display: block;
    height: 1px;
    margin: 3px 2px;
    background: #999;
}

.contextualMenuItemOverflow.hidden .contextualMenuItemOverflowLine {
    background: transparent;
}



.contextualMenuSeperator {
    display: block;
    padding: 5px 5px;
}

.contextualMenuSeperator div {
    width: 100%;
    height: 1px;
    background: #999;
}



.contextualSubMenu {
    padding: 0;
    margin: 0;
    list-style: none;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    box-shadow: inset 0px 0px 15px #5d5d5d;
}

.contextualSubMenu .contextualMenuItem {}

.contextualSubMenu .contextualMenuItem:hover {
    background: #4492d6;
}

.SubMenuActive {}