html, body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

.appOuter {
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: 30px auto;
    grid-template-areas: 
        "titlebar"
        "windows";

    width: 100vw;
    height: 100vh;
    background: #172467;
}
    .titlebar {
        grid-area: titlebar;
        -webkit-app-region: drag;
        -webkit-user-select: none;
    }
        .tabbar {
            -webkit-app-region: none;
            -webkit-user-select: auto;
            display: flex;
            flex-direction: row;
            padding: 3px;
            border-radius: 0px 0px 10px 10px;
            background-color: #fff;
            box-shadow: 0px 0px 7px rgb(0 0 0 / 50%);
            max-width: 700px;
            width: 50%;
            min-width: 300px;
            margin: auto;
        }

            .tabbar > .addbtn {
                width: 24px;
                height: 24px;
                border: none;
                margin-right: 3px;
                border-radius: 8px;
                background: rgba(255, 255, 255, 0.65);
                transition: background 0.25s;
                outline: none;
                color: rgba(0, 0, 0, 0.8);
                cursor: pointer;
            }
                .tabbar > .addbtn:hover{
                    background: #5FDC5D;
                    color: #000;
                }
                .tabbar > .addbtn > i {
                    font-size: 10px;
                }


        .tabbar > .tablist {
            flex: auto;
        }
            .tablist div.tab {
                width: 24px;
                height: 24px;
                border: none;
                padding: 0;
                border-radius: 8px;
                background: rgba(165, 165, 165, 0.50);
                transition: background 0.25s;
                outline: none;
                display: inline-flex;
                justify-content: center;
                align-items: center;
            }
                .tablist div.tab > img {
                    width: 16px;
                    height: 16px;
                }

                .tablist  div.tab[aria-selected=true] {
                    background: rgba(165, 165, 165);
                }

            .tablist div.tab + div.tab {
                margin-left: 3px;
            }

            .tabbar > .settings {
                padding: 0;               
                width: 24px;
                height: 24px;
                border: none;
                border-radius: 8px;
                transition: background 0.25s, color 0.25s;
                outline: none;
                color: rgba(0, 0, 0, 0.8);
                cursor: pointer;
            }
                .tabbar > .settings > i {
                    font-size: 14px;
                    margin-top: 4px;
                }
                .settings:hover { 
                    background: rgba(165, 165, 165);
                    color: #000;
                }

    .container {
        grid-area: windows;
        overflow: overlay;
        overflow-y: hidden;
        white-space: nowrap;
        padding: 15px;
    }  
        .container resize-window {
            outline: none;
            display: inline-block;
            height: 100%;        
        }
            .container resize-window + resize-window {
                margin-left: 5px;
            }

            .container resize-window:last-of-type{
                margin-right: 500px;
            }

            .container resize-window browser-window {
                height:100%;
            }

        .container::-webkit-scrollbar {
            height: 8px;
        }
        
        .container::-webkit-scrollbar-thumb {
            opacity: 0.5;
            background: rgba(255, 255, 255, 0.2);
            transition: background 0.5s;
        }
            .container::-webkit-scrollbar-thumb:hover {
                background: rgba(255, 255, 255, 0.8); 
            }

