<html>
	<head>
		<title>OhHai Browser</title>
        <link rel="StyleSheet" href="../../assets/css/style.css"/>
        <link rel="StyleSheet" href="styles.css"/>
		<link id="ThemeStyle" rel="StyleSheet" href="../../themes/default.css"/>
	</head>
    <body>
        <div id="AppBound">
            <div class="Inner">
                <div class="header">
                    <a href="#" id="CloseBtn" class="CloseBtn">X</a>
                </div>
                <div>
                    <iframe id="embededvid"></iframe>
                </div>
            </div>
        </div>
        <script src="script.js"></script>
    </body>
</html>