#Favlist{
    margin: 0;
    padding: 0;
    list-style: none;
}

.NoData{

}

.bookmark{

}
.bookmark a{

}
.bookmark a img{

}
.bookmark a span{

}

#dragOverUi{
    display: none;
}
#dragOverUi.active{
    display: block;
}

#newFavUi{
    display: none;
}
#newFavUi.active{
    display: block;
}