@font-face {
	font-family: Segoe MDL2 Assets;
	src: url("../../assets/fonts/SegMDL2.ttf");
}

.fillArea{
    width: 100%;
    height: 100%;
}

#Favlist{
    margin: 0;
    padding: 0;
    list-style: none;
}
#Favlist.hidden{
    display: none;
}

.NoData{
    text-align: center;
    padding-top: 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: #fff;
}

.bookmark{
    padding: 5px;
}
.bookmark a{
    background: #fff;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    user-select: none;
    height: 34px;
    min-width: 34px;
    transition: background-color 0.5s;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    color: #000;
}
.bookmark a img{
    height: 16px;
    width: 16px;
    margin: 9px;
}
.bookmark a span{
    line-height: 34px;
    flex: auto;
    overflow: hidden;
}

#dragOverUi{
    display: none;
    padding-top: 20px;
    text-align: center;
}
#dragOverUi.active{
    display: block;
}
    #dragOverUi .icon::before{
        content: '\E734';
        font-size: 50px;
    }
    #dragOverUi .icon{
        font-family: "Segoe MDL2 Assets";
    }

    #dragOverUi .label{

    }

#newFavUi{
    display: none;
}
#newFavUi.active{
    display: block;
    box-sizing: border-box;
    padding: 5px;
}

#newFavUi > .panel {
    background: #fff;
    border-radius: 5px;
}
    #newFavUi > .panel > .header {
        margin: 0;
        padding: 5px;
        background-color: #d2d4f2;
        font-size: 13px;
        border-radius: 5px 5px 0 0;
    }


#newFavUi #ImgIcon{
    width: 40px;
    height: 40px;
    margin: 10px auto 5px auto;
    display: block;
}
#newFavUi #Txtname{
    margin: 5px;
    padding: 3px;
    box-sizing: border-box;
}
#newFavUi #Txturl{
    margin: 5px;
    padding: 3px;
    box-sizing: border-box;
}
#newFavUi #BtnSave{
    width: 44%;
    margin: 5px;
    padding: 3px;
}
#newFavUi #Btncancel{
    width: 43%;
    margin: 5px;
    padding: 3px;
}